.box {
	width: 25%;
	height: auto;
	float: left;
	margin-bottom: -2px;
}
.legal {
	color: #fff;
}
.center {
	font-size: 12px;
    text-align: center;    
}

.box2 {
	width: 50%;
	height: auto;
	float: left;
	margin-bottom: -2px;
}