body 		{ margin: 0; padding: 0; font: 16px Arial; color: #0d5e8b; }
img { border:none;margin:0;padding:0;display:inline-block}
/*@font-face {font-family: movistar;src: url('/fonts/TrueType/MovistarText-Bold.ttf');}*/
.item{padding-left:5px;} 
.item_i		{ background-color:#d3e1e4; height:30px; padding:5px 5px 5px 5px; margin:5px 0 0 0;  }
.item_i	a	{ text-decoration:none;}
.item_p		{ background-color:#edf2f5; height:30px; padding:5px 5px 5px 5px;}
.item_p	a	{ text-decoration:none;}
.item_i_o		{ background-color:#f6f7f9; border-top:solid 1px #fff; border-bottom:solid 1px #d4e2e2; height: 20px;  line-height: 20px  }
.item_i_o	a	{ text-decoration:none;}
.item_p_o		{ background-color:#edf2f5; border-top:solid 1px #fff; border-bottom:solid 1px #d4e2e2; height: 20px;
    line-height: 20px;}
.item_p_o	a	{ text-decoration:none;}

.item_tarifa    { background-color:#edf2f5; border-top:solid 1px #fff; border-bottom:solid 1px #d4e2e2; height:auto; padding: 3px 1px 3px 1px}
.head		{ background-color:#00527a; height:25px; padding:5px 5px 5px 5px; margin:5px 0 0 0;  }
.item_legal		{ background-color:#00527a; height:15px; padding:5px 5px 5px 5px; margin:5px 0 0 0;  }
.text_item 	{  color:#000;font:13px Arial; padding: 3px 3px 3px 3px}
.text_item a	{ color:#0489c2;text-decoration:none}
.text_item_ml  { color:#000;font:13px Arial; padding: 3px 3px 3px 3px; height:auto}
.text_item_ml a    { color:#0489c2;text-decoration:none}
.text_item_li 	{ font:13px Arial; padding: 3px 3px 3px 3px}
.text_item_li a	{ color:#555555;text-decoration:none}
.texto_menu { color:#0d5e8b; font: 14px Arial; padding-top:12px}
.texto_menu a{ color:#0d5e8b; text-decoration:none}
.titulo_item { color:#333; font: 13px Arial; font-weight:bold;padding-left:5px}
.titulo_item_a {  font: 14px Arial;font-weight:bold; text-decoration:none}
.titulo_categoria	{ background-color:#edf2f5; height:13px; padding:5px 5px 5px 5px; margin:5px 0 0 0; }
.titulo_categoria a	{ color:#0d5e8b; text-decoration:none;}
.titulo_verde	{ font: 14px movistar; color: #8DC63E; font-weight:bold; padding: 5px; }
.verde		{ background-color:#8DC63E; height:5px;	}
.vermas 	{ color:#000; font:11px Arial; font-weight:bold; padding: 1px 2px 1px 2px;text-align:left}
.vermas a	{ color:#0a8bc5;text-decoration:none; font:9px Arial;padding-left:5px}
#buscador	{ height:32px; padding:5px 5px 5px 5px}
#buscado input { height:28px; width:75%; background-color:#edf2f5; border:1px solid #00527a}
.buscar {	height:31px;width: 31px;float:right}  		
#cabecera 	{ background: #025d85 url(../imagenes/bg_cabecera.gif) repeat-x; width:100%;text-align:right}  
#contenedor	{ }
#publicidad {  padding:0 0 0 0;margin:0 0 -3px 0}   
#destacados { }   
#categorias { }   
#navegacion { }   
#legal 		{ } 